# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/
*.env  # Crucially, ignore your .env file

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db